<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopmall.bawei.order">

    <application>
        <activity android:name=".mview.MainActivity2"/>
        <activity android:name=".mview.UnpaidActivity"></activity>
        <activity android:name=".mview.BindingActivity" />
    </application>

</manifest>