<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopmall.bawei.order">

    <application>
        <activity android:name="com.shopmall.bawei.shopmall1805.order.NonPayMentActivity"></activity>
    </application>

</manifest>