<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopmall.bawei.order">

    <application>
        <activity android:name=".sendorder.SendOrderActivity"></activity>
        <activity android:name=".payorder.PayOrderActivity" />
        <activity android:name=".shoporder.OrderActivity" />
    </application>

</manifest>