<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopercar">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:theme="@style/AppTheme">
        <activity android:name="com.example.shopercar.view.ShoppingPageActivity" android:theme="@style/AppTheme.FullSrcreen"></activity>
    </application>

</manifest>