<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopmall.bawei.shopmall1805">

    <application
        android:name=".ShopmallApplication"
        android:allowBackup="true"
        android:icon="@mipmap/adr"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".product.view.ProductDetailActivity"/>
        <activity android:name=".home.view.MainActivity"
                  android:launchMode="singleTask"
        />
        <activity android:name=".message.MessageListActivity"/>
        <activity android:name=".MemLeakActivity"/>
    </application>

</manifest>