<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopmall.bawei.user">

    <application>
        <activity android:name=".telandadress.BindTelAndAdressActivity"></activity>
        <activity android:name=".register.RegisterActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login" />
    </application>

</manifest>