<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopmall.bawei.user">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".LoginRegisterActivity"></activity>
        <service android:name="com.example.framework.MyService"></service>
    </application>
</manifest>